{% extends "base.html" %}
{% block title %}PackTrack App{% endblock %}
{% block main %}
<!-- Main -->
<div class="container w-full md:w-full mx-auto flex flex-wrap pt-10 md:pt-16 xl:pt-32 xl:w-1/2 2xl:pt-60 2xl:w-5/12">

  <div class="flex flex-col w-full justify-center lg:items-center overflow-y-hidden">
    <h1 class="w-full text-5xl mt-32 font-bold leading-tight text-center  text-white
                md:mt-52
                xl:text-5xl opacity-90 e">
      TRACK YOUR
      <span class="bg-clip-text text-transparent bg-gradient-to-br from-yellow-500 to-blue-500">
        PACKAGE
      </span>
    </h1>

    <form action = "/" METHOD ="POST" class="bg-black opacity-60 shadow-lg rounded-full
                                             w-5/6 mx-auto mt-10 px-6 pt-6 pb-2
                                             lg:px-11 lg:pb-6"> 
      <div class="mb-4 lg:pt-4">
        <!-- <h1 class="text-xl hover:text-white ease-in-out duration-300">Provide Tracking Information</h1>> -->
        <div class="flex">
          <select name="carrier" class="shadow appearance-none border rounded-l-3xl w-1/5 p-3 pl-2 sm:pl-6 mr-0.5 text-gray-400  leading-tight  hover:scale-y-110 duration-300 ease-in-out text-xs md:text-base">
            <option disabled selected style="display:none" value="Empty" >Carrier</option>
            <option value="USPS">USPS</option>
            <!-- <option value="UPS" class="text-gray-700">UPS</option>
            <option value="FedEx" class="text-gray-700">FedEx</option> -->
          </select>
          <input
          class=" shadow appearance-none border rounded-r-3xl w-3/5 p-3 pl-4 text-gray-400 leading-tight  transform transition hover:scale-y-110 duration-300 ease-in-out text-xs md:text-base"
          type="text"
          placeholder="Tracking Number"
          name = "trackingNum"
          />
          <button
          class="w-1/5 ml-2 sm:ml-6 leading-tight bg-gradient-to-r from-yellow-500 to-blue-500 hover:from-blue-500 hover:via-green-300 hover:to-yellow-500 text-white font-bold py-2 rounded-3xl focus:ring transform transition hover:scale-105 duration-300 ease-in-out text-xs md:text-base"
          type="submit"
          >
            Track
          </button>
        </div>
      </div>
    </form>
  </div>
</div>  
{% endblock %}
    
    <!-- <div class = "text-yellow-600">
      {% if state == 'load' or state == 'track_package' %}
        <form action = "/" METHOD ="POST">
          <select name="carrier">
            <option value="">Carrier</option>
            <option value="USPS">USPS</option>
            <option value="UPS">UPS</option>
            <option value="FedEx">FedEx</option>
          </select>        
          <input type="text" placeholder="Tracking Number" name = "trackingNum">
          <input type="hidden" name="btn_identifier" value="track_package" />
          <input type="submit" value="Add Test Tracking">
        </form>
        {% for event in events %}
          <b>
            {{event['occurred_at'][:10]}} <br>
            {{event['occurred_at'][11:-4]}} <br>
            {{event['description']}}
          </b>
        {% endfor %}
      {% endif %}

      {% if state == 'track_package' %}
      <div class = "form-popup">
        <form action = "/" METHOD ="POST">
          <input type="text" placeholder="Name This Package" name = "name">
          <input type="text" placeholder="Description" name = "description">
          <input type="text" placeholder="Email" name = "email" required = "required">
          <input type="hidden" name="btn_identifier" value="subscribe_package" />
          <input type="submit" value="Sub">
        </form>
      {% endif %}
    </div> -->