{% extends "base.html" %}
{% block title %}PackTrack App{% endblock %}
{% block main %}
<!-- Main Content -->
<div class="container flex flex-wrap mx-auto w-full 
            pt-12
            md:w-full md:pt-16
            lg:w-3/4 lg:pt-32
            xl:pt-40 xl:w-1/2
            2xl:pt-32 2xl:w-1/2">

  <div class="flex flex-col w-full justify-center lg:items-center overflow-y-hidden">
    <h1 class="w-full text-5xl mt-32 leading-tight text-center  text-white font-test2
              md:mt-52
              lg:mt-8
              xl:text-5xl opacity-90 e">
      TRACK YOUR
      <span class="bg-clip-text text-transparent bg-gradient-to-br from-blue-400 via-violet-400 to-pink-300">
        PACKAGE
      </span>
    </h1>

    <form action = "/track" METHOD ="GET" class="bg-black bg-opacity-30 opacity-75 shadow-lg rounded-full
                                             w-5/6 mx-auto mt-10 px-6 pt-6 pb-2
                                             lg:px-11 lg:pb-6
                                             xl:px-9 xl:pb-4
                                             2xl:px-11 2xl:pb-6"> 
      <div class="mb-4 lg:pt-4 xl:pt-2 2xl:pt-4">
        <!-- <h1 class="text-xl hover:text-white ease-in-out duration-300">Provide Tracking Information</h1>> -->
        <div class="flex">
          <select name="carrier" class="shadow appearance-none border rounded-l-3xl w-1/5 p-3 pl-2 sm:pl-6 mr-0.5 text-gray-400  leading-tight  hover:scale-y-110 duration-300 ease-in-out text-xs md:text-base">
            <option disabled selected style="display:none" value="Empty" >Carrier</option>
            <option value="USPS">USPS</option>
            <option value="UPS">UPS</option>
            <option value="FedEx">FedEx</option>
          </select>
          <input
          class=" shadow appearance-none border rounded-r-3xl w-3/5 p-3 pl-4 text-gray-400 leading-tight  transform transition hover:scale-y-110 duration-300 ease-in-out text-xs md:text-base"
          type="text"
          placeholder="Tracking Number"
          name = "trackingNum"
          required="required"
          />
          <button
          class="w-1/5 ml-2 sm:ml-6 leading-tight bg-gradient-to-r from-indigo-500 to-teal-500 hover:from-teal-500 hover:via-violet-300 hover:to-indigo-500 text-white font-bold py-2 rounded-3xl focus:ring transform transition hover:scale-105 duration-300 ease-in-out text-xs md:text-base"
          type="submit"
          >
            Track
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<div class="w-full fixed bottom-10 text-sm text-center text-gray-300">
  <a class="text-white font-semibold" href="https://github.com/chrispham0502/PackageTrackingApp" target="_blank" rel="noopener noreferrer">&copy; PackTrack App 2022</a>
  - Developed by
  <a class="text-white font-semibold" href="https://github.com/chrispham0502" target="_blank" rel="noopener noreferrer">Chris Pham</a>
</div>
{% endblock %}