<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <div class = "text-blue-600">
      {% if state == 'load' or state == 'track_package' %}
        <form action = "/" METHOD ="POST">
          <!-- <input type="text" placeholder="Carrier" name = "carrier"> -->
          <select name="carrier">
            <option value="">Carrier</option>
            <option value="USPS">USPS</option>
            <option value="UPS">UPS</option>
            <option value="FedEx">FedEx</option>
          </select>        
          <input type="text" placeholder="Tracking Number" name = "trackingNum">
          <input type="hidden" name="btn_identifier" value="track_package" />
          <input type="submit" value="Add Test Tracking">
        </form>
        {% for event in events %}
          <b>
            {{event['occurred_at'][:10]}} <br>
            {{event['occurred_at'][11:-4]}} <br>
            {{event['description']}}
          </b>
        {% endfor %}
      {% endif %}

      {% if state == 'track_package' %}
      <div class = "form-popup">
        <form action = "/" METHOD ="POST">
          <input type="text" placeholder="Name This Package" name = "name">
          <input type="text" placeholder="Description" name = "description">
          <input type="text" placeholder="Email" name = "email" required = "required">
          <input type="hidden" name="btn_identifier" value="subscribe_package" />
          <input type="submit" value="Sub">
        </form>
      {% endif %}
    </div>
  </body>
</html>