{% extends "base.html" %}
{% block title %}Tracking details{% endblock %}
{% block main %}
<!-- Main Content-->
<div class="container w-5/6 mx-auto flex flex-wrap  pt-20 xl:pt-40 xl:w-1/2 2xl:pt-20 2xl:w-5/12 items-center ">

    <div class=" w-full 2xl:w-3/4 justify-center overflow-y-hidden mx-auto px-5">
        <!-- Text -->
        <h1 class="text-3xl md:text-4xl xl:text-5xl opacity-90 leading-tight text-center md:text-lef text-white font-test2">
            <span class="bg-clip-text text-transparent bg-gradient-to-br from-blue-400 via-violet-400 to-pink-300 text-center">
            PACKAGE
            </span>
            DETAILS
        </h1>
    </div>

    <!-- Tracking Information -->
    <div class="rounded-3xl flex flex-col w-full sm:w-3/4 md:w-full xl:w-2/3 justify-center items-center content-center mx-auto px-5 md:px-10 py-5 mt-10 bg-black bg-opacity-40 opacity-75 ">
        
        <section class="w-full"> 
            <div>
                <h2 class="tracking-h1"> Current Status </h2>
            </div>
            <div>
                <p class="font-bold bg-clip-text bg-gradient-to-br from-violet-600 to-teal-300 text-transparent md:text-lg lg:text-xl">{{status}}</p>
                <p class="text-white md:text-lg lg:text-xl">{{status_description}}</p>
            </div>
            <div class="pt-10">
                <h2 class="tracking-h1"> Tracking History </h2>
            </div>
            {% if case == 'one' %}
            <div class="timeline timeline-only self-center -mt-5 ">
                <div class="relative ">
                    <div class="dot-latest"></div>
                    <div class="pl-10 ">
                        <p class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{latest_event['event_date']}}</p>
                        <p class="text-base font-bold bg-clip-text bg-gradient-to-t from-white to-blue-400 text-transparent">{{ latest_event['event_time'] }}</p>
                        <p class="text-white font-semibold md:text-xl lg:text-2xl">{{ latest_event['description'] }} </p>
                        {% if latest_event['city_locality'] not in ["", None] %}
                            <p1 class="text-white font-semibold md:text-lg lg:text-xl">{{latest_event['city_locality']}}</p1>
                            {% if latest_event['state_province'] not in ["", None] %}
                                <p1 class="text-white font-semibold md:text-lg lg:text-xl"> - {{latest_event['state_province']}}</p1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
                <!-- Most recent event -->
            <div class="timeline timeline-first self-center -mt-5 ">
                <div class="relative ">
                    <div class="dot-latest"></div>
                    <div class="pl-10 ">
                        <p class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{latest_event['event_date']}}</p>
                        <p class="text-base font-bold bg-clip-text bg-gradient-to-t from-white to-violet-400 text-transparent">{{ latest_event['event_time'] }}</p>
                        <p class="text-white font-semibold md:text-xl lg:text-2xl">{{ latest_event['description'] }} </p>
                        {% if latest_event['city_locality'] not in ["", None] %}
                            <p1 class="text-white font-semibold md:text-lg lg:text-xl">{{latest_event['city_locality']}}</p1>
                            {% if latest_event['state_province'] not in ["", None] %}
                                <p1 class="text-white font-semibold md:text-lg lg:text-xl"> - {{latest_event['state_province']}}</p1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <!-- Events in between -->
            {% for event in events %}
            <div class="timeline">
                <div class="relative">
                    <div class="dot"></div>
                    <div class="pl-10">
                        <p class="timeline-date">{{event['event_date']}}</p>
                        <p class="timeline-time">{{event['event_time'] }}</p>
                        <p class="timeline-description">{{event['description'] }}</p>
                        {% if event['city_locality'] not in ["", None] %}
                        <p1 class="timeline-location ">{{event['city_locality']}}</p1>
                            {% if event['state_province'] not in ["", None] %}
                                <p1 class="timeline-location"> - {{event['state_province']}}</p1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <!-- First event created -->
            <div class="timeline timeline-last">
                <div class="relative">
                    <div class="dot"></div>
                    <div class="pl-10">
                        <p class="timeline-date">{{first_event['event_date']}}</p>
                        <p class="timeline-time">{{first_event['event_time'] }}</p>
                        <p class="timeline-description">{{first_event['description'] }}</p>
                        {% if first_event['city_locality'] not in ["", None] %}
                        <p1 class="timeline-location">{{first_event['city_locality']}}</p1>
                            {% if first_event['state_province'] not in ["", None] %}
                                <p1 class="timeline-location"> - {{first_event['state_province']}}</p1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

                      
        </section>
    </div>

    <!-- Bottom section-->
    <div class="flex flex-col w-full md:w-full xl:w-2/3 justify-center mx-auto mt-12">
        <!-- If delivered give option to go back to homepage -->
        {% if status == "DELIVERED" %}
        <div>
            <form action="/">
                <button class= "w-full font-bold bg-gradient-to-r border-2 border-white from-indigo-400 to-teal-400 hover:from-teal-400 hover:via-violet-300 hover:to-indigo-400 text-white rounded-2xl focus:ring transform transition hover:scale-105 duration-300 ease-in-out
                py-4 xl:py-6" type="submit">Track Another Package</button>
            </form>
        </div>
        <!-- If not delivered give option to subscribe to package update -->
        {% else %}
        <!-- Text -->
        <div>
            <h1 class="text-center text-white opacity-75
                md:text-2xl  font-test2">
                GET UPDATES FOR THIS PACKAGE
            </h1>
        </div>
        <form id="subform" method="POST" action="/update" class="flex bg-black bg-opacity-40 opacity-75 rounded-3xl justify-center w-full p-4 mt-3 mb-5">
            <div class="flex flex-row w-full mx-auto 
                        p-1 pb-1
                        md:p-3 md:pb-1
                        lg:p-3 lg:pb-2.5">
                <div class="w-2/5 
                            mr-1.5
                            md:mr-2
                            lg:mr-2.5">
                    <input
                    class=" w-full rounded-lg text-gray-400  transform transition hover:scale-y-110 duration-300 ease-in-out
                            p-2.5 text-xs
                            md:p-3 md:text-base"
                    type="text"
                    placeholder="Package Name"
                    name="package_name"
                    />
                </div>
                <div class="w-3/5 "> 
                    <input
                    class=" w-full rounded-lg text-gray-400  transform transition hover:scale-y-110 duration-300 ease-in-out
                            p-2.5 text-xs
                            md:p-3 md:text-base"
                    type="text"
                    placeholder="Your Email"
                    required="required"
                    name="email"
                    />
                </div>     
            </div> 
        </form>
        <div>
            <button form="subform" class= "w-full font-bold bg-gradient-to-r border-2 border-white from-indigo-400 to-teal-400 hover:from-teal-400 hover:via-violet-300 hover:to-indigo-400 text-white rounded-2xl focus:ring transform transition hover:scale-y-105 duration-300 ease-in-out
                py-4 xl:py-6" type="submit">Get Updates</button>
        </div>
        {% endif %}
    </div>   
</div>

<!-- Footer -->
<div class="w-full mt-10 mb-10 text-sm text-center text-gray-300 fade-in">
    <a class="text-white font-semibold" href="https://github.com/chrispham0502/PackageTrackingApp" target="_blank" rel="noopener noreferrer">&copy; PackTrack App 2022</a>
    - Developed by
    <a class="text-white font-semibold" href="https://github.com/chrispham0502" target="_blank" rel="noopener noreferrer">Chris Pham</a>
</div>

<div class="colorBackgroundBottom fixed bottom-0 opacity-20"></div>
{% endblock %}