{% extends "base.html" %}
{% block title %}Subscribed{% endblock %}
{% block main %}
<!-- Main Content -->
<div class="flex flex-col container w-5/6 mx-auto pt-20 xl:pt-40 xl:w-1/2 2xl:pt-20 2xl:w-5/12 items-center ">
    <div class="rounded-2xl flex flex-col w-full sm:w-3/4 md:w-full xl:w-2/3 justify-center items-center content-center mx-auto px-5 md:px-10 py-5 mt-10 bg-black bg-opacity-40 opacity-75">
        <div>
            {% if inlist == False %}
            <h2 class="tracking-h1 text-center">You are subscribed</h2>
            <p class="text-white 2xl:text-lg text-center">
                Updates for your package
                <span class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{package_name}}</span>
                will be sent to 
                <span class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{email}}</span>.
            </p>
            {% else %}
            <h2 class="tracking-h1 text-center">You are already subscribed</h2>
            <p class="text-white 2xl:text-lg text-center">
                Package was found under the name 
                <span class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{package_name}}</span>.
                You are already signed up for this package and updates will be sent to
                <span class="text-lg font-bold bg-clip-text bg-gradient-to-t from-violet-600 to-blue-300 text-transparent tracking-tight">{{email}}</span>.
            </p>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col w-full md:w-full xl:w-2/3 justify-center mx-auto mt-7">
        <form action="/">
            <button class= "w-full font-bold bg-gradient-to-r border-2 border-white from-indigo-400 to-teal-400 hover:from-teal-400 hover:via-violet-300 hover:to-indigo-400 text-white rounded-2xl focus:ring transform transition hover:scale-105 duration-300 ease-in-out
            py-4 xl:py-6" type="submit">Track Another Package</button>
        </form>
    </div>
</div>

<!-- Footer -->
<div class="w-full fixed bottom-10 text-sm text-center text-gray-300">
    <a class="text-white font-semibold" href="https://github.com/chrispham0502/PackageTrackingApp" target="_blank" rel="noopener noreferrer">&copy; PackTrack App 2022</a>
    - Developed by
    <a class="text-white font-semibold" href="https://github.com/chrispham0502" target="_blank" rel="noopener noreferrer">Chris Pham</a>
  </div>
{% endblock %}
  